@use 'variables' as *;

.wrapper {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    z-index: $panel-z-index;
    pointer-events: none;

    & > * {
        pointer-events: auto;
    }
}

.expanded {
    height: var(--panel-height, #{$panel-default-height});
}

.fullscreen {
    height: calc(100vh - 56px); // 56px = canvas header height
}
